.root {
    -color-gray: #7F8C8D;
    /*-fx-font-family: "OpenSansEmoji";*/
}

.keyword {
    -fx-font-size: 26;
    -fx-fill: darkcyan;
}

.wordform {
    -fx-font-size: 18;
    -fx-fill: cyan;
}

.definition {
    -fx-padding: 5px;
    -fx-font-size: 16;
    -fx-cursor: pointer;
}

.definition-text {
    -fx-cursor: hand;
}

.icon {
    -fx-font-size: 18;
    -fx-font-family: FontAwesome;
}
.button {
    -fx-cursor: hand;
}
.button-icon {
    -fx-line-height: 26;
    /*-fx-padding: 0 0 -3 0;*/
    -fx-font-size: 12;
    -fx-font-family: FontAwesome;
}
.icon-red {
    -fx-fill: red;
}
.icon-red:hover {
    -fx-fill: orange;
}
.icon-blue {
    -fx-fill: blue;
}
.icon-blue:hover {
    -fx-fill: lightblue;
}


.red {
    -fx-fill: red;
}
.blue {
    -fx-fill: blue;
}

.example {
    -fx-fill: blue;
}

.example:hover {
    -fx-fill: magenta;
}

.header {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.label {
    -fx-fill: -color-gray;
}

.alert {
    -fx-fill: red;
}